<div class="pnf-wrapper">
  <div class="pnf-container">
    <span class="pnf-404">Page not found</span>
    <div class="pnf-image-container">
      <img
        class="pnf-image"
        src="../../../../assets/images/page-not-found.jpg"
        alt="I'm giving her all she's got, Captain, but that page can't be found!"
      />
    </div>
    <span class="pnf-message"
      >We're sorry, but we couldn't locate that page.</span
    >
    <div class="pnf-actions">
      <button
        pButton
        class="pnf-goback p-button p-button-raised p-button-secondary"
        label="Back"
        icon="pi pi-undo"
        (click)="loc.back()"
        pTooltip="Go back to where you came from. It's (probably) safe there!"
      ></button>
      <button
        pButton
        class="pnf-gohome p-button p-button-raised p-button-primary"
        label="Home"
        icon="pi pi-home"
        (click)="exss.goHome()"
        pTooltip="Go to the homepage."
      ></button>
    </div>
  </div>
</div>
