@media screen and (max-width: 768px) {
  .pnf-image-container {
    img {
      max-width: 90vw !important;
    }
  }
}

@media screen and (max-height: 1000px) {
  .pnf-container {
    justify-content: flex-start !important;
  }
}

.pnf-wrapper {
  .pnf-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;

    span {
      text-align: center;
    }

    .pnf-404 {
      font-size: 2.2em;
      font-weight: 600;
      color: var(--red-400);
    }

    .pnf-image-container {
      img {
        max-width: 60vw;
        height: auto;
        border-radius: 15px;
      }
    }

    .pnf-message {
      font-size: 1.8em;
    }

    .pnf-actions {
      display: flex;
      flex-flow: row wrap;
      max-width: 90vw;
      gap: 1em;
    }
  }
}
