.jobs-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .job-cards {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    jm-job-card {
      width: 100%;
    }
  }
}
