<p-dialog
  class="matomo-opt-out-dialog"
  [(visible)]="popupOpen"
  header="Data collection opt-out"
  aria-live="polite"
  aria-atomic="false"
  aria-relevant="additions"
>
  <div
    *ngIf="!loading; else optStateLoading"
    class="opt-out-container"
    aria-live="polite"
    aria-atomic="false"
    aria-relevant="additions"
  >
    <div class="opt-btn-row">
      <label class="opt-out-label" for="opt-out">Usage metrics:</label>
      <p-selectButton name="opt-out" id="opt-out" [options]="stateOptions" [ngModel]="selected.value"
        (onChange)="handleChange($event.value)" optionLabel="label" optionValue="value"
        [disabled]="loading"></p-selectButton>
    </div>
    <span class="opt-state-message">{{optStateMessage}}</span>
  </div>
  <ng-template #optStateLoading>
    <jm-loading-spinner></jm-loading-spinner>
  </ng-template>
</p-dialog>

<button pButton class="p-button p-button-text" icon="pi pi-eye-slash" (click)="popupOpen=true" [disabled]="popupOpen" pTooltip="Review privacy settings" [attr.aria-label]="'Review privacy settings'"></button>
