::ng-deep .opt-out-container {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;

  .opt-state-message {}

  @media screen and (min-width:601px) {
    .opt-btn-row {
      flex-flow: row nowrap;
    }
  }

  @media screen and (max-width:600px) {
    .opt-btn-row {
      flex-flow: column nowrap;
    }
  }

  .opt-btn-row {
    margin-bottom: 1.3em;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

}
