:host ::ng-deep .greeting-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

    img.my-picture {
      max-height: 400px;
      width: auto;
      border-radius: 13rem;

      @media screen and (max-width: 450px) {
        max-height: none;
        height: auto;
        width: 90%;
      }
  }

  .greeting-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width:1305px) {
      align-items: center;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
      text-align: center;
    }

    .salutation {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      gap: 0.6em;
    }
  }
}
