<div class="greeting-row">
  <!--<img
    class="my-picture"
    src="../../../../assets/images/me.jpeg"
    alt="Julie Muzina"
  />-->
  <div class="greeting-text">
    <h1 class="salutation">
      <div class="hand-wave-wrapper rot-45">
        <i class="fa fa-hand fa-bounce"></i>
      </div>
      Hi, I'm Julie!
    </h1>
    <h2 class="what-am-i">👩🏻‍💻I'm a software developer from Cleveland, OH.</h2>
    <h3 class="how-good-am-i">
      I'm an experienced full-stack engineer with a passion for creating useful,
      user-focused applications.
    </h3>
  </div>
</div>
