.skills-container {

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .skill-cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3em;

    jm-skill-card {
      min-height: 300px;

      width: 20%;
      @media screen and (max-width: 1920px) {
        width: 25%;
      }

      @media screen and (max-width :1200px) {
        width: 45%;
      }
      @media screen and (max-width: 768px) {
        width: 95%;
      }
    }

  }
}
