$header-height: 65px;
$footer-height: 50px;

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  jm-header {
    width: 100%;
    height: $header-height;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  jm-footer {
    width: 100%;
    height: $footer-height;
  }

  .page-contents {
    width: 100%;
    height: calc(100% - $header-height - $footer-height);
    overflow: auto;
    //padding: 0 2rem
  }
}
