<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="app-container">
  <jm-header></jm-header>
  <div *ngIf="!mnts.activeMaintenanceEvent" class="page-contents">
    <router-outlet *ngIf="!loading; else appLoading"></router-outlet>
    <ng-template #appLoading>
      <jm-loading-spinner
        [showMessage]="false"
        [useDots]="false"
      ></jm-loading-spinner>
    </ng-template>
  </div>

  <jm-maintenance-message
    *ngIf="mnts.activeMaintenanceEvent"
    [event]="mnts.activeMaintenanceEvent"
  ></jm-maintenance-message>

  <jm-footer></jm-footer>
</div>
