:host {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .app-header {
  .p-menubar {
    border-radius: 0;
    .p-menuitem-link-active {
      background-color: var(--blue-800);
    }
    .p-menuitem-text {
      color: var(--purple-50) !important;
    }
  }
}

