.education-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .degree-cards {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
}
