<div *ngIf="classification?.skills?.length" class="classification-wrapper">
  <div class="classification-name-wrapper">
    <span class="classification-name">{{ classification.label }}</span>
    <i
      *ngIf="classification?.picture?.icon?.class"
      [class]="'classification-icon ' + classification.picture?.icon?.class"
    ></i>
  </div>
  <div class="related-skills-container">
    <ng-container *ngFor="let skill of classification.skills">
      <jm-skill-item *ngIf="skill.highlighted" [skill]="skill"></jm-skill-item
    ></ng-container>
  </div>
</div>
