:host ::ng-deep.skill-card-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

  border: 1px solid var(--surface-c);
  border-radius: 1.3em;

  box-shadow: 0 0 0.15em var(--text-color);

  .skill-name {
    font-size: 1.7rem;
  }

  .skill-image {
    width: 150px;
  }

  .skill-icon {
    font-size: 9.3rem;
  }

  .skill-description {
    text-align: center;
  }
}
