html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--surface-ground);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fade {
  transition: all 2s ease;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.rot-45 {
  transform:rotate(45deg);
}

.section-header {
  font-size: 1.8em;
  text-align: center;
  font-weight: 500;
}
